* {
  margin: 0;
  padding: 0;
  width: 100%;
}

input {
  height: 100px;
  font-size: 50px !important;
}

button {
  height: 100px;
  border-color: #ffffff;
  font-size: 50px !important;
}

#wrapper {
  width: 50%;
}

.nrbutton {
  background-color: rgb(21, 68, 93);
}

.operator {
  background-color: rgb(185, 31, 67);
}
